@page
@using xinchen_web.Models;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
@model xinchen_web.Pages.DocumentsModel
@{
    var allowCreateNew = true;
    if (ViewData["AllowCreateNew"] != null)
    {
        allowCreateNew = (bool)ViewData["AllowCreateNew"];
    }
    var hasProposal = ViewData["ProposalList"] != null;
    var proposalList = (List<Proposal>)ViewData["ProposalList"];
}

<div class="document-box">
    @if (!hasProposal)
    {
        <div id="divNew" class="document-item">
            <img src="@Url.Content("~/images/checklist_2666505.png")" alt="Button Icon">
            <span>建立第一本企畫書</span>
        </div>
    }
    else if (allowCreateNew)
    {
        <div id="divNew" class="document-item">
            <img src="@Url.Content("~/images/checklist_2666505.png")" alt="Button Icon">
            <span>建立企畫書</span>
        </div>
    }

    @if(proposalList != null)
    {
        foreach (var proposal in proposalList)
        {
                var ddlId = "ddl" + proposal.Id;

            <div class="document-item" id="@proposal.Id">
                <img src="@Url.Content("~/images/paperwork_9874793.png")" alt="Button Icon">
                <span>@proposal.Name</span>
                <div>
                    <select id="ddlTent" name="SelectProposalStatus" asp-items="Model.SelectProposalStatus"></select>
                    <span class="button">刪除</span>
                </div>
            </div>
            
        }
    }
    
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#divNew').click(function () {
                window.location.href = "@Url.Page("/Proposal")";
            });

            $('.document-item').click(function () {
                var proposalId = $(this).attr('id');
                var url = '/Preview?Id=' + proposalId;
                window.open(url);
            })
        });
    </script>
}