@page
@using xinchen_web.Enumerables;
@using xinchen_web.Helpers;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
    }
}
@model xinchen_web.Pages.ProposalModel
@{
    var buttonId = string.Empty;
}
<div class="proposal-box">
    <div class="section">
        <h2>選擇市集風格</h2>
        <div class="marketbutton" id="divMarketStyle">
            <input type="hidden" id="marketstylevalue" name="MarketTypeValue" value="" />
            @foreach (Enum item in Enum.GetValues(typeof(MarketStyle)))
            {
                if (!(item is MarketStyle.None))
                {
                    var val = Convert.ToInt32(item);
                    buttonId = "btn" + item.ToString();
                    <button name="@item.ToString()" value="@val" id="@buttonId">
                        @item.GetDescriptionText()
                    </button>

                }
            }
        </div>

    </div>
    <br />
    <div class="section">
        <h2>選擇市集類型</h2>
        <div class="marketbutton" id="divMarketType">
            <input type="hidden" id="markettypevalue" name="MarketTypeValue" value="" />
            @foreach (Enum item in Enum.GetValues(typeof(MarketType)))
            {
                var val = Convert.ToInt32(item);
                if (!(item is MarketType.None))
                {
                    buttonId = "btn" + item.ToString();
                    <button name="@item.ToString()" value="@val" id="@buttonId">
                        @item.GetDescriptionText()
                    </button>
                }
            }
        </div>
    </div>
    <br />
    <div class="section">
        <h2>選擇市集細節</h2>
        <div class="marketdetail">
            <label class="select" for="ddlLocation">活動地區:</label>
            <select id="ddlLocation" name="SelectLocation" asp-items="Model.SelectLocation"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlMarketScale">攤位數量:</label>
            <select id="ddlMarketScale" name="SelectTent" asp-items="Model.SelectMarketScale"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlTent">帳篷需求:</label>
            <select id="ddlTent" name="SelectTent" asp-items="Model.SelectTent"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlElectricity">電需求:</label>
            <select id="ddlElectricity" name="SelectElectricity" asp-items="Model.SelectElectricity"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlWaterFacility">水需求:</label>
            <select id="ddlWaterFacility" name="SelectWaterFacility" asp-items="Model.SelectWaterFacility"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlCharingMode">招商模式:</label>
            <select id="ddlCharingMode" name="SelectCharingMode" asp-items="Model.SelectCharingMode"></select>
        </div>
        <div class="marketdetail">
            <label class="select" for="ddlBudgetLevel">預算級距:</label>
            <select id="ddlBudgetLevel" name="SelectBudgetLevel" asp-items="Model.SelectBudgetLevel"></select>
        </div>
    </div>
    <br />
    <div class="section">
        <h2>選擇市集加值服務</h2>
        <div class="middle">

            @foreach (var addon in Model.Addons)
            {
                var chkId = "chk" + addon.Id.ToString();
                <div class="marketdetail">
                    <input type="checkbox" id="@chkId" name="@chkId" value="@addon.Id" />
                    <label class="checkbox" for="@chkId">@addon.Name</label>
                </div>
            }
        </div>
    </div>
    <br />
    <div class="section">
        <button type="submit" id="btnSubmit">送出</button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlLocation').change(function () {
                var locationId = $(this).val();
                //console.log(locationId);
                GetSubItemsByLocation(locationId);
            });

            $('#divMarketStyle button').click(function () {
                $('#divMarketStyle button').css('background-color', '#007bff');
                $(this).css('background-color', '#bf5422');
                $('#marketstylevalue').val($(this).val());
            });

            $('#divMarketType button').click(function () {
                $('#divMarketType button').css('background-color', '#007bff');
                $(this).css('background-color', '#bf5422');
                $('#markettypevalue').val($(this).val());
            });

            $('#btnSubmit').click(function(){
                alert('@GetAntiXsrfRequestToken()');
                var person = { "FirstName": "Andrew", "LastName": "Lock", "Age": 31 };
                $.ajax({
                    type: "POST",
                    url: "Proposal?handler=Abc",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(person),
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                })
                    .done(function (result) {
                        console.log(result);
                    });
            });
        });

        function GetSubItemsByLocation(locationId) {
            $.get('Proposal?handler=SubItems&locationId=' + locationId).done(function (options) {
                console.log(options);
                // clear all Dropdowns
                $('#ddlMarketScale, #ddlTent, #ddlElectricity, #ddlWaterFacility, #ddlCharingMode, #ddlBudgetLevel').empty();
                var defaultSelection = $("<option></option>")
                    .attr("value", options.defaultSelection.value)
                    .text(options.defaultSelection.text);
                defaultSelection.appendTo($('#ddlMarketScale, #ddlTent, #ddlElectricity, #ddlWaterFacility, #ddlCharingMode, #ddlBudgetLevel'));
                // market scale
                for (var i = 0; i < options.marketScale.length; i++) {
                    var op = options.marketScale[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlMarketScale'));
                }

                // tent
                for (var i = 0; i < options.tent.length; i++) {
                    var op = options.tent[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlTent'));
                }

                // electricity
                for (var i = 0; i < options.electricity.length; i++) {
                    var op = options.electricity[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlElectricity'));
                }

                // waterFacility
                for (var i = 0; i < options.waterFacility.length; i++) {
                    var op = options.waterFacility[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlWaterFacility'));
                }

                // charingMode
                for (var i = 0; i < options.charingMode.length; i++) {
                    var op = options.charingMode[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlCharingMode'));
                }

                // budgetLevel
                for (var i = 0; i < options.budgetLevel.length; i++) {
                    var op = options.budgetLevel[i];
                    var opEl = $("<option></option>").attr("value", op.id).text(op.name);
                    opEl.appendTo($('#ddlBudgetLevel'));
                }
            });
        }
        function OnMarketStyleSelect(value) {
            let allButtons = document.querySelectorAll('.marketstyle button');
            allButtons.forEach(function (ele) { ele.style.backgroundColor = '#007bff'; });

            let selectedButton = document.querySelector('#btn' + value);
            selectedButton.style.backgroundColor = '#bf5422';

            document.getElementById('marketstylevalue').value = selectedButton.value;
        }

        function OnMarketTypeSelect(value) {
            let allButtons = document.querySelectorAll('.markettype button');
            allButtons.forEach(function (ele) { ele.style.backgroundColor = '#007bff'; });

            let selectedButton = document.querySelector('#btn' + value);
            selectedButton.style.backgroundColor = '#bf5422';

            document.getElementById('markettypevalue').value = selectedButton.value;
        }

    </script>
}
